.headerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #f5f6fb;
  border-bottom: 2px solid #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.headerP {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding-left: 22px;
  padding-right: 22px;
  align-items: center;
  background: #f5f6fb;
  border-bottom: 2px solid #ffffff;
}

.container:last-child {
  border-bottom-right-radius: 15px;
  border-bottom: 0;
}

.info {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #52555f;
}

li,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.list {
  width: 230px;
  margin-top: 40px;
  margin-left: 32px;
}

@media screen and (min-width: 1280px) {
  .list {
    width: 213px;
    margin-top: 60px;
  }
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
