.balance__title {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  color: #52555fb2;
}

.balance__wrapper_secondary {
  display: flex;
  position: relative;
  justify-content: center;
}

.balance__button {
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 14px;
  padding: 13px 18px;
  border-radius: 16px;
  background-color: #ff751d;
  color: #ffffff;
  border: 2px solid #ff751d;
  border-radius: 0px 22px 22px 0px;
  border-left: none;
  transition: all 300ms;
  width: 140px;
  text-align: left;
}

.balance__button:hover,
.balance__button:focus {
  background-color: #f95f00;
  border-color: #f95f00;
}

.balance__button:disabled {
  background-color: #52555f10;
  border-color: #52555f25;
  color: #52555f25;
}

@media screen and (min-width: 768px) {
  .balance__wrapper_main {
    display: flex;
    align-items: center;
    margin-left: 34px;
  }

  .balance__title {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  .balance__wrapper_secondary {
    width: 265px;
    justify-content: space-between;
  }

  .balance__button {
    width: 125px;
    border: 2px solid #ff751d;
    border-radius: 16px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .balance__wrapper_main {
    margin-left: 457px;
  }
}
