@media screen and (min-width: 320px) {
  .wrapper {
    text-align: center;
    margin-top: 17px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: 40px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    margin-bottom: 8px;
  }
}
