.container {
  margin: 0 auto;
  max-width: 767px;
  padding: 22px 20px 32px 20px;
}

.backDiv {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.arrowButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.arrowDesc {
  display: none;
}

.reversing {
  display: flex;
  flex-direction: column-reverse;
}

.balanceDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.balanceTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.02em;
  color: rgba(82, 85, 95, 0.7);
  margin-bottom: 10px;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalBalanceSumDiv {
  width: 182px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 22px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
}

.currentTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #52555fb2;
  margin-bottom: 7px;
}

.dateDiv {
  display: flex;
  align-items: center;
}

.smallArrow {
  margin-top: 2px;
}

.date {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 4px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 40px 0px 32px 0px;
  }

  .backDiv {
    margin-bottom: 0px;
  }

  .arrowDesc {
    display: inline-block;
    margin-left: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #52555FB2;
  }

  .reversing {
    width: 61%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .balanceDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
  }

  .balanceTitle {
    margin: 0px 20px 0px 0px;
  }

  .totalBalanceSumDiv {
    width: 125px;
    border-radius: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-right: 123px;
    padding-left: 123px;
  }
}