.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoIcon {
  margin-top: 12px;
  margin-bottom: 13px;
}

.header {
  background-color: #fff;
}

.headerButton {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}

@media screen and (min-width: 768px) {
  .headerContainer {
    min-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .headerContainer {
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1280px) {
  .headerContainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
