.currency__input {
  font-size: 12px;
  letter-spacing: 0.02em;
  height: 44px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;
  width: 140px;
  outline: none;
  text-align: right;
  padding: 0px 16px;
  font-weight: 700;
}

.currency__input::placeholder {
  color: #000000;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .currency__input {
    width: 125px;
    border-radius: 16px;
    padding: 0px 20px 0px 10px;
  }
}