.container {
  max-width: 767px;
  margin: 0 auto;
}

.wrapperBar {
  padding: 40px 20px 40px 20px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
}

.barChart {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
