/* /* Для подключения универсального бекграунда нужно импортировать import Background from 'components/Background/Background'; и указать<Background type=secondary> ваша вложенность</Background> и стили подтянутся. */
/* Пример в CurrentPeriod:
return (
    <Background type="Secondary">
      <Summary />
      <TotalSum />
      <Report />
    </Background>
  ); */

.mainBg {
  min-height: calc(100vh - 56px);
  background-color: white;
  background-position: left top;
  background-repeat: no-repeat;
}

.mainBgSecondary {
  background-image: url(../../images/cabagge/bg-img-mb.png);
  background-size: 100% 286px;
}

.mainBgPrimary {
  background-image: url(../../images/cabagge/kapusta_mirror.png),
    url(../../images/cabagge/kapusta_mirror_rotate.png),
    url(../../images/cabagge/rectangle.png);
  background-size: auto, auto;
  background-position: left 35px bottom, top 104px right -30px, left top;
}

@media screen and (min-width: 768px) {
  .mainBg {
    padding-left: 32px;
    padding-right: 32px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }

  .mainBgSecondary {
    background-image: url(../../images/cabagge/bg-img.png),
      url(../../images/cabagge/kapusta-tablet.png);
    background-size: 100% 526px, auto;
    background-position: left top, right 88px bottom 60px;
  }

  .mainBgPrimary {
    background-image: url(../../images/cabagge/kapusta_main.png),
      url(../../images/cabagge/kapusta_small.png),
      url(../../images/cabagge/rectangle.png);
    background-position: left 0 top 28px, left calc(50% - 200px) bottom 50px,
      left top;
    background-size: auto, auto, 100% 526px;
  }
}

@media screen and (min-width: 1200px) {
  .mainBg {
    background-position: left calc(50% - 311px) bottom 100px, left top 28px,
      left top;
    background-repeat: no-repeat, repeat-x, no-repeat;
    background-size: auto, auto, 100% 526px;
  }

  .mainBgSecondary {
    background-image: url(../../images/cabagge/bg-img.png),
      url(../../images/cabagge/kapusta.png);
    background-size: 100% 526px, auto;
    background-position: 0 0, bottom 20px left 50%;
    background-repeat: no-repeat, repeat-x;
    /* animation: kapusta-bottom-desctop-secondary 20s linear infinite; */
  }

  .mainBgPrimary {
    background-image: url(../../images/cabagge/kapusta_small.png),
      url(../../images/cabagge/kapusta_main.png),
      url(../../images/cabagge/rectangle.png);
  }
}

/* @keyframes kapusta-bottom-desctop-secondary {
  0% {
    background-position: 0 0, bottom 20px left 50%;
  }
  50% {
    background-position: 0 0, bottom 20px left 100%;
  }
  100% {
    background-position: 0 0, bottom 20px left 50%;
  }
} */
