.modal__backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 300ms opacity;
}

.modal__backdrop.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  background-color: #ffffff;
  position: absolute;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #52555f66;
  transform: scale(0.5);
  transition: 300ms transform;
}

.modal__content.active {
  transform: scale(1);
}

.modal__closeBtn {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal__question {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 22px;
  color: #52555f;
}

.modal__btnWrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .modal__content {
    width: 280px;
    padding: 52px 40px 52px 40px;
  }
}

@media screen and (min-width: 768px) {
  .modal__content {
    width: 380px;
    padding: 52px 58px 60px 58px;
  }
}
